---
import { clsx } from 'clsx';

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<p class={clsx('card-description', className)}>
	<slot />
</p>

<style>
	.card-description {
		font-size: 0.875rem;
		color: #0d0c16;
		line-height: 1.5;
	}
</style>

