---
import { clsx } from 'clsx';

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<div class={clsx('card-content', className)}>
	<slot />
</div>

<style>
	.card-content {
		padding-top: 1rem;
	}
</style>

